study-common/src/main/resources/company.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://york.com/schema/company" targetNamespace="http://york.com/schema/company" elementFormDefault="qualified" attributeFormDefault="qualified">
    <xs:element name="company" type="companyType"></xs:element>
    <xs:complexType name="companyType">
        <xs:sequence>
            <xs:element name="id" type="xs:integer"></xs:element>
            <xs:element name="companyName" type="xs:string"></xs:element>
        </xs:sequence>
    </xs:complexType>
</xs:schema>